*{
  margin:0;
} 

 button{
   background-color: rgb(140, 88, 40);
   height: 50px;
   width: 80px;
   border:0;
   font-size: larger;
   color: rgb(186, 130, 85);
 }
header>h1{
  color: rgb(186, 130, 85);
  font-family: Georgia, Times, 'Times New Roman', serif;
}
footer{
  background-color: rgb(140, 88, 40);
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-around;
  color: rgb(186, 130, 85);

}

 div#content{
  background: url(./pikaso_edit.jpeg)rgb(186, 130, 85) fixed ;
 
  height: 100vh;
 }

header{
  background-color: rgb(140, 88, 40);
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-around;

}

.container{
  background-color: antiquewhite;
  width: 70vw;
  height: auto;

}
.home::after{
  text-decoration: line-through;
}
.menu::backdrop{
  text-decoration: double;
}
.contact::after{
  text-decoration: double;
}

#home-page{
  height: 50vh;;
}